.Set_LineChart{
    /* height: 527px !important;
    width: 1054px !important; */
    margin-left:auto;
    margin-right: auto;
}

.Set_Pie{
    /* height: 100%;
    width: 30vw; */
    height: 207px ;
    width: 202px ;
}
